files:
  "/home/ec2-user/myfile" :
    mode: "000755"
    owner: root
    group: root
    source: https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/31179317_1820527971342716_192891452324315136_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeEmdxCZcJKIFwKXHeQWb5b8PgumZduCDojTQGsLH2njLCWgz9sdvDXthMFbwSnJF5SJQUroWPWJW8gtW7iZ7as5SqWmW1JYectDnF9yZiomJw&oh=c1b5d02dffbcbf48edca7362ee92bab2&oe=5B607FFA